{
	"api_token": "0123456789:abcdefghijklmnopqrstuvwxyz",
	"ngrok_bin_path": "/usr/local/bin/ngrok",
	"available_ids": [
		"telegram_id1",
		"telegram_id2"
	],
	"monitor_interval": 3,
	"tunnels": [
		{
			"title": "http/s on port 8080",
			"protocol": "http",
			"port": 8888,
			"option": ""
		},
		{
			"title": "ssh on port 22",
			"protocol": "tcp",
			"port": 22,
			"option": "-region=ap"
		}
	],
	"is_verbose": false
}
